# 공공데이터포털 인증키
# data.go.kr에서 제공하는 Decoding(원본) 인증키를 사용합니다.
DATA_GO_KR_SERVICE_KEY=

# 나라장터 입찰공고정보서비스 최신 기본 경로
DATA_GO_KR_BASE_URL=https://apis.data.go.kr/1230000/ad/BidPublicInfoService

# 실행 환경
APP_ENV=development
